.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.featurePng {
    max-width: 450px;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
}

/* dark mode. */
[data-theme="dark"] .features {
    background-color: rgba(0, 0, 0, 0.25) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
