/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroImage {
    max-width: 480px;
    max-height: 320px;
    width: 100%;
    object-fit: contain;
}

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: none;
    margin-bottom: 1em;
}

.heroBanner h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.33em;
}

@media (max-width: 996px) {
    .heroBanner h1 {
        flex-direction: column;
    }
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
