/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #c026d3;
    --ifm-color-primary-dark: #ac22be;
    --ifm-color-primary-darker: #a220b3;
    --ifm-color-primary-darkest: #861b93;
    --ifm-color-primary-light: #d42ae8;
    --ifm-color-primary-lighter: #d93bed;
    --ifm-color-primary-lightest: #e461f1;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
    --ifm-color-primary: #e879f9;
    --ifm-color-primary-dark: #e55df7;
    --ifm-color-primary-darker: #e34af6;
    --ifm-color-primary-darkest: #dc12f3;
    --ifm-color-primary-light: #eb95fb;
    --ifm-color-primary-lighter: #eda8fc;
    --ifm-color-primary-lightest: #f2c9fd;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
